yfinance == 0.1.87
pandas==2.0.1
pip==23.1.2
numpy==1.24.3
fbprophet==0.7.1
plotly==5.11.0
streamlit==1.15.0
matplotlib==3.7.1
httpstan==4.4.1
PyStan==2.19.1.1
newsapi-cli==1.2.1
cmdstanpy==0.9.5
termcolor==2.3.
config_pkg==1.1.5
setuptools==67.8.0
